

<div class="logged-in-main" style="background-image:url(/images/Live.png)">
  <div class="sign-in-wrapper">
    <div class="sign-in-form">
      <h2 class="sign-in-heading">Sign in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.submit "Log in", class: "send" %>
        </div>
      <% end %>
      <div class="sns-logged-in">
        <%= link_to "facebookでログインする", user_facebook_omniauth_authorize_path, method: :post, class: "facebook-btn" %>
        <%= link_to image_tag("/images/btn_google_signin_dark_focus_web.png", art: "googleログイン"), user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-btn" %>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="my-name">development by Sho.</div>
</div>

<%#= render "users/shared/links" %>
