<header>
  <div class="top-wrapper">
    <div class="header-left">
      <%= link_to 'Be ambitious', root_path, class: "header-logo" %>
    </div>
      <div class="header-right">
        <ul class="nav">
          
            <li><%= link_to 'ユーザー  ログイン', new_user_session_path, class: "sign-in" %></li>
            <li><%= link_to '法人の方  ログイン', new_company_session_path, class: "sign-up" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
            <li><%= link_to '法人の方はこちら', new_company_registration_path, class: "company-sign-up" %></li>
          
        </ul>
      </div>
  </div>
</header>

<div class="logged-in-main" style="background-image:url(/images/Live.png)">
  <div class="sign-in-wrapper">
    <div class="sign-in-form">
      <h2 class="sign-in-heading">Sign in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "companies/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.submit "Log in", class: "send" %>
        </div>
      <% end %>
      <div class="sns-logged-in">
        <%= link_to "googleでログインする", "#", class: "btn" %>
        <%= link_to "facebookでログインする", "#", class: "btn" %>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="my-name">presented by Sho.</div>
</div>

<%#= render "companies/shared/links" %>
