<div class="logged-in-main" style="background-image:url(/images/Live.png)">
  <div class="sign-in-wrapper">
    <div class="sign-in-form">
      <h2 class="sign-in-heading">Sign in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "companies/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.submit "Log in", class: "send" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="my-name">presented by Sho.</div>
</div>

<%#= render "companies/shared/links" %>
