<div style="background-image:url(/images/guitar.png)" class="detail-contents">
  <div class="context">
    <% if company_signed_in? && current_company.id == @company.id %>
    <%# ================================== マイページ部分 ======================================= %>
      <div class="detail-container">
        <h1 class="cp_h1title">マイページ</h1>
        <div class="information-wrapper">
          <div class="profile-contents">
            <div class="pro-image">
              <p class="profile-detail">プロフィール画像</p>
              <%= image_tag current_company.image, class: 'img' if current_company.image.attached? %>
            </div>
            <ul class="info-list">
              <li><%= "Nickname: #{current_company.company_name}" %></li>
              <li><%= "E-mail: #{current_company.email}" %></li>
            </ul>
            <ul class="info-list">
              <li>URL: <%= link_to "#{@company.office_url}", @company.office_url, class: "office-url" %></li>
            </ul>
            <p class="profile-detail">Profile</p>
            <div class="profile-text">
              <%= current_company.detail %>
            </div>
            <%= link_to "編集する", edit_company_registration_path, class: "edit-profile" %>
          </div>
        </div>
      <div>
    <%# ================================== マイページ部分 ======================================= %>
    <% elsif user_signed_in? %>
    <%# ================================== 企業情報詳細ページ =================================== %>
      <div class="detail-container">
        <h1 class="cp_h1title"><%= "#{@company.company_name}さんのプロフィール" %></h1>
        <div class="information-wrapper">
          <div class="profile-contents">
            <div class="pro-image">
              <p class="profile-detail">プロフィール画像</p>
              <%= image_tag @company.image, class: 'img' if @company.image.attached? %>
            </div>
            <ul class="info-list">
              <li><%= @company.company_name %></li>
              <li><%= "E-mail: #{@company.email}" %></li>
            </ul>
            <ul class="info-list">
              <li>URL: <%= link_to "#{@company.office_url}", @company.office_url, class: "office-url" %></li>
            </ul>
            <p class="profile-detail">Profile</p>
            <div class="profile-text">
              <%= @company.detail %>
            </div>
            <%# ======= フォローをするもしくは外す機能の実装。相互フォローになるとマッチング成功の表示 ======== %>
            <% if @user_relations.present? %>
              <%= link_to 'フォローを外す', company_user_relation_path(@company.id), method: :delete, remote: true, class:'unfollow-btn', id: "unfollow" %>
              <% if @company_relations.present? %>
                <div class="match">Congratulations!</div>
                <div class="arrow">マッチングしました！</div>
            <%# ======= マッチング成功後、チャットへ。部屋がない場合は部屋を作成 ======== %>
                <% if @company_ids.include?(@company.id) %>
                  <br>
                  <%= link_to "チャットへ", room_path(current_user.rooms.find_by(company_id: @company.id)), class: "to-chat" %><br>
                <% else %>
                  <%= form_for Room.new do |f| %>
                    <%= f.hidden_field :company_id, :value => @company.id %>
                    <%= f.submit "チャットを開始する", class: "to-chat" %>
                  <% end %>
                <% end %>
            <%# ======= マッチング成功後、チャットへ。部屋がない場合は部屋を作成 ======== %>
              <% end %>
            <% else %>
              <%= form_with model: @user_relation, url: company_user_relations_path(@company.id), id: "form", local: true do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.hidden_field :company_id, :value => @company.id %>
                <%= f.submit "フォローする", id: "btn", class: "follow-btn" %>
              <% end %>
            <% end %>
            <%# ======= フォローをするもしくは外す機能の実装。相互フォローになるとマッチング成功の表示 ======== %>
          </div>
        </div>
      <div>
    <% end %>
    <%# ================================== 企業情報詳細ページ =================================== %>
  </div>
</div>
<div class="footer">
  <div class="my-name">presented by Sho.</div>
</div>