<div class="main" style="background-image:url(/images/Live.png)">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "companies/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label "会社名" %><br />
          <%= f.text_field :company_name, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
        </div>

        <div class="field">
          <%= f.label "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
        </div>

        <div class="field">
          <%= f.label "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
        </div>

        <div class="field">
          <%= f.label "電話番号" %><br />
          <%= f.text_field :phone_number, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <%= f.label "会社URL" %><br />
          <%= f.text_field :office_url, autofocus: true, class: 'input' %>
        </div>

        <div class="staff">
          <div class="field kana">
            <%= f.label "ご担当者様 姓（カナ）" %><br />
            <%= f.text_field :staff_lastname_kana, autofocus: true, class: 'input' %>
          </div>

          <div class="field kana">
            <%= f.label "ご担当者様 名（カナ）" %><br />
            <%= f.text_field :staff_firstname_kana, autofocus: true, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label "会社概要" %><br />
          <%= f.text_area :detail, class: "profile", placeholder: "1000文字まで入力できます", rows:"7" ,maxlength:"1000" %>
        </div>

        <div class="img-upload">
          <div class="click-upload">
          <p>
            会社のロゴをアップロードしてください
          </p>
          <%= f.file_field :image, id:"item-image" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'send' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="my-name">development by Sho.</div>
</div>

<%#= render "companies/shared/links" %>
