<div class="main" style="background-image:url(/images/Live.png)">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label "ニックネーム" %><br />
          <%= f.text_field :nickname, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
        </div>

        <%if @sns_id.present? %>
          <%= hidden_field_tag :sns_auth, true %>
        <% else %>
          <div class="field">
            <%= f.label "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
          </div>

          <div class="field">
            <%= f.label "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label "電話番号" %><br />
          <%= f.text_field :phone_number, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <%= f.label "プロフィール" %><br />
          <%= f.text_area :detail, class: "profile", placeholder: "1000文字まで入力できます", rows:"7" ,maxlength:"1000" %>
        </div>

        <div class="img-upload">
          <div class="click-upload">
          <p>
            画像をアップロードしてください
          </p>
          <%= f.file_field :image, id:"item-image" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "send" %>
        </div>
      <% end %>
      <div class="sns-logged-in">
        <%= link_to "facebookで登録する", user_facebook_omniauth_authorize_path, method: :post, class: "facebook-btn" %>
        <%= link_to image_tag("/images/btn_google_signin_dark_focus_web.png", art: "googleで登録"), user_google_oauth2_omniauth_authorize_path, method: :post, class: "google-btn" %>
      </div>
    </div>
  </div>
</div>
<div class="form-footer">
  <div class="my-name">presented by Sho.</div>
</div>

<%#= render "users/shared/links" %>
